article.dArticle { padding-bottom:30px; }
article.dArticle .dTitle { margin-bottom:30px; padding:44px 15px 20px; border-bottom:1px solid #ebebeb; text-align:center; }
article.dArticle .dTitle h2 { color:#000; font-weight:bold; font-size:26px; line-height:31px; margin-bottom:10px; }
article.dArticle .dTitle > a { font-size:12px; text-decoration:none; color:#48bff2; }
article.dArticle .dTitle > span { display:inline-block; width:1px; height:9px; margin:0 5px; background-color:#ebebeb }
article.dArticle .dTitle > span.hide { display:none; }
article.dArticle .dTitle > time { color:#999; }
article.dArticle dl.dTags { margin-top:25px; }
article.dArticle dl.dTags > dt { font-weight:bold; }
article.dArticle dl.dTags > dt,
article.dArticle dl.dTags > dd { display:inline-block; }
/* -----------------------------------------------
 * 애드센스 */
article.dArticle .gad-box { margin:30px auto; max-width:100%; overflow:hidden; }
article.dArticle .gad-box .adsbygoogle { display:block; margin:0 auto; min-height:100px; }
/* 본문 상단 */
@media only screen and (max-width:820px) {
	article.dArticle .gad-box.dTop .adsbygoogle { width:320px; height:100px; }
}
@media only screen and (max-width:339px) {
	article.dArticle .gad-box.dTop .adsbygoogle { width:auto; height:auto; }
}
/* 본문 하단 */
@media only screen and (max-width:820px) {
	article.dArticle .gad-box .adsbygoogle { width:336px; height:280px; }
}
@media only screen and (max-width:359px) {
	article.dArticle .gad-box .adsbygoogle { width:300px; height:250px; }
}
