<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>대출 이자 계산기</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0" />
		<link href="//www.googletagmanager.com" rel="dns-prefetch" />
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch" />
		<link href="//googleads.g.doubleclick.net" rel="dns-prefetch" />
		<meta name="author" content="아사마루" />
		<meta name="keywords" content="대출계산기,원리금균등분할상환,원금균등분할상환,원금만기일시상환,대출이자계산기,원리금상환계산기,원리금균등상환 계산기,원금균등상환 계산기,원금만기일시상환 계산기,대출이자계산기 xls,대출 이자 계산 엑셀,대출 이자,이자 계산기,대출 금리,원리금균등상환,원금균등상환,대출이자,대출금리계산기,대출이자 계산기,Monthly Principal and Interest Payment,monthly fixed principal payments,interest only mortgage" />
		<meta name="description" content="원리금균등상환/원금균등상환/원금만기일시상환에 대한 이자 및 상환금 계산" />
		<meta name="referrer" content="always" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="theme-color" content="#ee152b" />
		<link rel="shortcut icon" type="image/x-icon" href="https://loan.asamaru.net/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="canonical" href="https://loan.asamaru.net/" />
		<link rel="alternate" type="application/rss+xml" title="대출 이자 계산기" href="https://loan.asamaru.net/atom.xml" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/180.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/img/icon/120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/img/icon/152.png" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="대출 이자 계산기" />
		<meta property="og:title" content="대출 이자 계산기" />
		<meta property="og:description" content="원리금균등상환/원금균등상환/원금만기일시상환에 대한 이자 및 상환금 계산" />
		<meta property="og:url" content="https://loan.asamaru.net/" />
		<meta property="og:image" content="https://loan.asamaru.net/img/icon/icon.png" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@asamaru7" />
		<meta name="twitter:title" content="대출 이자 계산기" />
		<meta name="twitter:description" content="원리금균등상환/원금균등상환/원금만기일시상환에 대한 이자 및 상환금 계산" />
		<meta property="twitter:image" content="https://loan.asamaru.net/img/icon/icon.png" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebPage",
				"url": "https://loan.asamaru.net/",
				"name": "대출 이자 계산기",
				"author": {
					"@type": "Person",
					"name": "아사마루"
				},
				"datePublished": "2025-07-31T11:04:34+09:00",
				"dateModified": "2025-07-31T11:04:34+09:00",
				"image": {
					"@type": "ImageObject",
					"url": "https://loan.asamaru.net/img/icon/icon.696.png",
					"width": 696,
					"height": 696
				},
				"publisher": {
					"@type": "Organization",
					"name": "아사마루",
					"logo": {
						"@type": "ImageObject",
						"url": "https://loan.asamaru.net/img/icon/180.png",
						"width": 180,
						"height": 180
					}
				},
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://loan.asamaru.net/"
				},
				"@graph": [
					{
						"@type": "Organization",
						"url": "https://loan.asamaru.net",
						"@id": "https://loan.asamaru.net#organization",
						"name": "대출 이자 계산기"
					},
					{
						"@type": "WebSite",
						"url": "https://loan.asamaru.net",
						"image": {
							"@type": "ImageObject",
							"url": "https://loan.asamaru.net/img/icon/icon.696.png",
							"width": 696,
							"height": 696
						},
						"@id": "https://loan.asamaru.net#website",
						"name": "대출 이자 계산기",
						"publisher": {
							"@id": "https://loan.asamaru.net#organization"
						}
					}
				]
			}
		</script>
		<link href="/css/min/a6f6297377c21dde2617c9a1547ce569.css" type="text/css" rel="stylesheet" />
		<script src="/js/min/a77ec881045add5c4c248b062febffdc.js" async type="text/javascript"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TPPW6284KZ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-TPPW6284KZ");
		</script>
	</head>
	<body>
		<header class="top">
			<div class="site-profile clearfix">
				<a href="https://loan.asamaru.net" title="대출 이자 계산기 홈페이지로 이동"><img src="https://loan.asamaru.net/img/bundled/icon-BmxouxuB.png" width="50" height="50" alt="대출 이자 계산기" /></a>
				<h1><a href="https://loan.asamaru.net" title="대출 이자 계산기 홈페이지로 이동">대출 이자 계산기</a></h1>
				<p>원리금균등상환/원금균등상환/원금만기일시상환에 대한 이자 및 상환금 계산</p>
				<button type="button" class="btn-slide" data-sidebar="toggle"></button>
			</div>
		</header>
		<section class="main-body clearfix">
			<div class="main-box">
				<section id="main-panel">
					<div class="top-box">
						<div class="gad-box">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
							<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="7514376222" data-ad-format="auto" data-full-width-responsive="true"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
					<div class="loan-main">
						<div class="form-container">
							<h2 class="visually-hidden">대출 이자 계산기</h2>
							<form class="container">
								<div class="form-group row mb-3">
									<label class="col-sm-2 control-label">대출금</label>
									<div class="col">
										<div class="input-group">
											<input type="number" class="form-control" v-model="money" />
											<div class="input-group-text">원</div>
										</div>
										<div class="util-buttons-box">
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="plusMoney(100000)">십만원</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="plusMoney(1000000)">백만원</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="plusMoney(10000000)">천만원</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="plusMoney(100000000)">일억원</button>
										</div>
										<span class="d-block text-end korean-text" v-if="parseFloat(moneyText) > 0" v-cloak>
											<span class="text-danger">{{moneyText}}</span>
											원
										</span>
									</div>
								</div>
								<div class="form-group row mb-3">
									<label class="col-sm-2 control-label">대출금리</label>
									<div class="col">
										<div class="input-group">
											<div class="input-group-text">연</div>
											<input type="number" id="pRate" class="form-control" v-model="rate" />
											<div class="input-group-text">%</div>
										</div>
										<div class="util-buttons-box">
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 2.0">2%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 3.0">3%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 4.0">4%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 5.0">5%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 6.0">6%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 7.0">7%</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="rate = 10.0">10%</button>
										</div>
									</div>
								</div>
								<div class="form-group row mb-3">
									<label class="col-sm-2 control-label">대출기간</label>
									<div class="col">
										<div class="input-group">
											<input type="number" class="form-control" v-model="period" />
											<div class="input-group-text">개월</div>
										</div>
										<div class="util-buttons-box">
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 12">
												1
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 24">
												2
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 36">
												3
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 48">
												4
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 60">
												5
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 120">
												10
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 180">
												15
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 240">
												20
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="period = 360">
												30
												<span>년</span>
											</button>
										</div>
									</div>
								</div>
								<div class="form-group row mb-3">
									<label class="col-sm-2 control-label">거치기간</label>
									<div class="col">
										<div class="input-group">
											<input type="number" class="form-control" v-model="term" />
											<div class="input-group-text">개월</div>
										</div>
										<div class="util-buttons-box">
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="term = 12">
												1
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="term = 24">
												2
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="term = 36">
												3
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="term = 48">
												4
												<span>년</span>
											</button>
											<button type="button" tabindex="-1" class="btn btn-outline-secondary btn-sm me-1" v-on:click="term = 60">
												5
												<span>년</span>
											</button>
										</div>
										<div class="calc-help-text text-info">거치기간동안 이자만 납부하고, 거치기간이 끝나면 원금과 이자를 납부하게 됩니다.</div>
									</div>
								</div>
							</form>
							<div class="form-group row mb-3">
								<div class="text-center">
									<button type="button" class="btn btn-primary me-1" v-on:click="calc">계산하기</button>
									<button type="button" class="btn btn-danger" v-on:click="reset">초기화</button>
								</div>
							</div>
						</div>
						<div class="result-container">
							<div class="card mb-4">
								<div class="card-header bg-danger-subtle text-danger">★ 주의사항</div>
								<div class="card-body">계산 결과는 월 단위로 계산한 것으로 실제 대출 시작 일자에 따른 일할 계산과 기타 다른 조건에 따른 오차가 있을 수 있으므로 참고용으로만 사용하세요.</div>
							</div>
							<h2 class="visually-hidden">상환방식 가이드</h2>
							<div class="mb-3">
								<ul class="nav nav-tabs mb-2">
									<li class="nav-item"><a href="javascript:void(0)" v-bind:class="['nav-link', { active: type === 1 }]" v-on:click="type = 1">원리금균등상환</a></li>
									<li class="nav-item"><a href="javascript:void(0)" v-bind:class="['nav-link', { active: type === 2 }]" v-on:click="type = 2">원금균등상환</a></li>
									<li class="nav-item"><a href="javascript:void(0)" v-bind:class="['nav-link', { active: type === 3 }]" v-on:click="type = 3">원금만기일시상환</a></li>
								</ul>
								<div v-if="type === 1">
									<div class="card border-primary-subtle">
										<div class="card-body">가장 일반적인 방법으로, 원금과 이자를 합한 상환금액이 매달 동일합니다.</div>
									</div>
								</div>
								<div v-if="type === 2">
									<div class="card border-primary-subtle">
										<div class="card-body">매달 원금을 동일하게 상환하므로, 이자는 매달 줄어들게 됩니다. 단, 매달 이자가 다르므로 원금과 이자를 합한 상환금액도 매달 달라집니다.</div>
									</div>
								</div>
								<div v-if="type === 3">
									<div class="card border-primary-subtle">
										<div class="card-body">대출기간 동안 매달 이자만 상환하고, 대출 만기일에 원금을 일시상환 합니다.</div>
									</div>
								</div>
							</div>
							<div v-show="hasResult">
								<table class="table table-bordered table-condensed calc-summary">
									<caption class="d-none">
										<span>{{ typeText }}</span>
										<span>계산결과</span>
									</caption>
									<thead>
										<tr>
											<th scope="col">대출금</th>
											<th scope="col">대출기간</th>
											<th scope="col">대출금리</th>
											<th scope="col">거치기간</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span>{{ moneyNumber }}</span></td>
											<td>
												<span>{{ period }}</span>
												<span>개월</span>
											</td>
											<td>
												<span>{{ rate }}</span>
												%
											</td>
											<td>
												<span>{{ term }}</span>
												<span>개월</span>
											</td>
										</tr>
									</tbody>
									<thead>
										<tr>
											<th scope="col">{{ summaryText }}</th>
											<th scope="col">총 이자액</th>
											<th scope="col" colspan="2">원금 및 총이자액</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span>{{ loanMonth }}</span></td>
											<td><span>{{ loanRateAmt }}</span></td>
											<td colspan="2"><span>{{ loanTotalAmt }}</span></td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-outline-primary w-100 mt-3" v-on:click="moveToResultList">회차별 납입금액 보기</button>
							</div>
							<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="1467842621" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
							<div class="calc-results-container" v-show="hasResult">
								<table class="table table-striped table-bordered table-condensed calc-results" id="cRows">
									<thead>
										<tr>
											<th>회차</th>
											<th>상환금</th>
											<th>납입원금</th>
											<th>이자</th>
											<th>납입원금계</th>
											<th>잔금</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="row in rows">
											<td>{{ row.num }}</td>
											<td>{{ row.payments }}</td>
											<td>{{ row.principal }}</td>
											<td>{{ row.interest }}</td>
											<td>{{ row.total }}</td>
											<td>{{ row.balance }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="share-sns"></div>
						</div>
						<section class="terms-container">
							<div class="card">
								<div class="card-header mb-3"><h2>대출금 상환 방식</h2></div>
								<div class="card-body">
									<div class="bs-callout bs-callout-info">
										<h3>
											<a href="https://loan.asamaru.net/terms/원리금균등분할상환/">
												원리금 균등 분할 상환
												<span>상세보기</span>
											</a>
										</h3>
										일반적으로 사용되는 상환 방식으로 매기간 원금과 이자의 합계가 균등한 저당입니다. 초기에는 원리금 중 이자가 차지하는 부분이 많으나 후기에는 원금상환 비중이 커지면 대출만기 일자에 대출원금은 완전히 상환됩니다.
									</div>
									<div class="bs-callout bs-callout-info">
										<h3>
											<a href="https://loan.asamaru.net/terms/원금균등분할상환/">
												원금 균등 분할 상환
												<span>상세보기</span>
											</a>
										</h3>
										대출원금을 대출 기간으로 나눈 할부 상환금에 월별잔고에 대한 이자를 합산하여 납부하는 방식입니다. 원금은 동일하나 이자지불액은 원금을 갚아나가면서 조금씩 줄어듦에 따라 매 기간 적어지게 됩니다.
									</div>
									<div class="bs-callout bs-callout-info">
										<h3>
											<a href="https://loan.asamaru.net/terms/원금만기일시상환/">
												원금 만기 일시 상환 (만기 상환 저당)
												<span>상세보기</span>
											</a>
										</h3>
										대출 기간 중에는 이자만 지불하다가 만기일에 대출 전액을 상환하는 방식을 말하며 "일시 상환 대출" 또는 인터리스트 온리 모기지(interest only mortgage)라고도 합니다. 상환 기간에는 대출 원금을 전혀 상환하지 않기 때문에 총 이자가 크므로 이자 비용 부담이 가장 큰 방법입니다.
									</div>
								</div>
							</div>
						</section>
						<Teleport to="#calc-history">
							<dl v-if="calcHistory.length > 0">
								<dt class="mb-2">최근 계산 이력</dt>
								<dd>
									<ol>
										<li v-for="(row, index) in calcHistory">
											<a href="javascript:void(0);" v-on:click="calcByArgs(row.type, row.money, row.rate, row.period, row.term)" data-sidebar="close">
												<span v-html="printHistory(index, row)"></span>
											</a>
										</li>
									</ol>
								</dd>
							</dl>
						</Teleport>
					</div>
					<div class="share-sns-template d-none">
						<div class="share-sns twitter facebook googleplus band line kakaotalk" data-kakao-api="029c009364ec8062ee3851bb41fcb0c7" data-facebook-app-id="332421137172007"></div>
						<div class="nv-openmain" data-title="대출계산기" data-url="https://loan.asamaru.net" data-type="W2"></div>
						<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>
					</div>
				</section>
			</div>
			<nav class="slideout-menu" data-sidebar-position="right">
				<div class="slide-close clearfix">
					<button data-sidebar="close"></button>
				</div>
				<div class="gad-box d" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="8991109421" data-ad-format="auto" data-full-width-responsive="true"><ins class="adsbygoogle"></ins></div>
				<div class="box">
					<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
						<fieldset>
							<input type="hidden" name="sitesearch" value="https://loan.asamaru.net" />
							<legend>검색하기 폼</legend>
							<label>검색하기</label>
							<input type="text" name="q" value="" placeholder="Search" />
						</fieldset>
					</form>
					<dl class="terms-list">
						<dt class="mb-2">대출금 상환 방식</dt>
						<dd>
							<ul class="mb-0">
								<li class="mb-1"><a href="https://loan.asamaru.net/terms/원리금균등분할상환/">원리금 균등 분할 상환</a></li>
								<li class="mb-1"><a href="https://loan.asamaru.net/terms/원금균등분할상환/">원금 균등 분할 상환</a></li>
								<li class="mb-1"><a href="https://loan.asamaru.net/terms/원금만기일시상환/">원금 만기 일시 상환</a></li>
							</ul>
						</dd>
					</dl>
					<div id="calc-history"></div>
					<div class="btn-list">
						<a href="https://calculator.asamaru.net/%EA%B3%84%EC%82%B0%EA%B8%B0/%EA%B8%88%EC%9C%B5/%EC%A4%91%EB%8F%84%EC%83%81%ED%99%98%EC%88%98%EC%88%98%EB%A3%8C-%EA%B3%84%EC%82%B0/" class="btn btn-block btn-danger cBtnArea">중도상환수수료 계산기</a>
						<a href="https://loan.asamaru.net/area/" class="btn btn-block btn-warning cBtnArea">평수 / 면적 계산기</a>
						<a href="https://calculator.asamaru.net" class="btn btn-block btn-warning cBtnArea">계산기 모음</a>
					</div>
					<div class="btn-list">
						<a href="https://loan.asamaru.net/en/" class="btn btn-block btn-success">English</a>
					</div>
				</div>
			</nav>
		</section>
		<footer class="bottom">
			Posted by
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdsefx8At2yOTNyx7xoP9IaFv0odvthnGXMEXG_tKZea_VxMg/viewform?usp=pp_url&entry.316518454=%EB%8C%80%EC%B6%9C+%EC%9D%B4%EC%9E%90+%EA%B3%84%EC%82%B0%EA%B8%B0" title="문의하기" rel="nofollow" target="_blank"><em>아사마루</em></a>
			&nbsp;&nbsp;&nbsp;
			<a href="https://loan.asamaru.net/policy/privacy/" target="_blank" title="개인정보처리방침">개인정보처리방침</a>
		</footer>
	</body>
</html>
